.list-group {
    margin: 15px auto;
    padding: 1rem;
    background: var(--secondaryColor);
    width: 80%;
    max-width: 400px;
    border-radius: 24px;
}

.list-title {
    border-bottom: 2px solid var(--primaryColor);
    font-size: var(--font-n);
    text-shadow: 0px 0px 8px black;
}

.list-item {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 1px auto;
    padding: 2px;
}

.list-item img {
    width: 45px;
    height: 30px;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    .list-group {
        width: 80%;
    }
}

/* HOVER EFFECTS */
.list-group:nth-child(2) .list-item:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}