.cardCerts {
    margin: auto;
    width: 60%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.cardCerts .disclaimer {
    width: 60%;
    margin: auto;
    text-align: right;
    text-transform: uppercase;
}

.cardCerts img {
    display: block;
    margin: auto;
    max-width: 60%;
    max-height: 40%;
}

.cardCerts .container-close {
    padding-top: 15px;
    text-align: center;
    font-size: var(--font-l);
    font-weight: bolder;
}

.cardCerts button {
    margin: 10px;
    padding: 5px;
    width: 120px;
    height: 10px;
    font-weight: bolder;
    color: var(--fontColor);
    background-color: var(--secondaryColor);
}

.cardCerts button:nth-child(1) {
    border-radius: 24px 0px 0px 24px;
}
.cardCerts button:nth-child(2) {
    border-radius: 0px 24px 24px 0px;
}

@media only screen and (max-width: 600px) {
    .cardCerts {
        margin: auto;
        width: 90%;
        height: 50%;
        padding: 5px;
        padding-bottom: 25px;
        box-sizing: border-box;
    }

    .cardCerts .disclaimer {
        width: 90%;
        margin: auto;
        text-align: right;
        text-transform: uppercase;
    }

    .cardCerts img {
        display: block;
        margin: auto;
        max-width: 90%;
        max-height: 80%;
    }
}